.outlined {
    border: solid;
}

.single-line {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 24px;
    background-color: rgb(148, 123, 155);
}

.img-box {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}