.outlined {
    border: solid;
}

.single-line {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 24px;
    background-color: rgb(148, 123, 155);
}

.img-box {
    text-align: center;
    display: block;
    margin: 0 auto;

}

body {
    margin: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom,
            black 0%,
            #2b2b2b 20%,
            #8b5a7a 60%,
            pink 100%);

}

header {
    margin: 0;
    padding: 0;
}